* {
  outline: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #222222;
}

.nav {
  position: relative;
  background-color: #222222;
  align-items: center;
  height: 75px;
  display: grid;
  grid-template-columns: 44px auto 32px 29px 41px;
  grid-column-gap: 33px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 32px 0 32px;
}
@media (max-width: 375px) {
  .nav {
    grid-template-columns: 44px auto 32px;
    grid-column-gap: 41px;
  }
}
.nav .page-header-logo {
  background-color: transparent;
  border: 0px;
}
.nav .menu-btn {
  height: 100%;
  background-color: transparent;
  border: 0px;
}
.nav .account-btn {
  background-color: transparent;
  border: 0px;
}
@media (max-width: 375px) {
  .nav .account-btn {
    display: none;
  }
}
.nav .cart-btn {
  background-color: transparent;
  border: 0px;
}
@media (max-width: 375px) {
  .nav .cart-btn {
    display: none;
  }
}

.breadcrumb {
  height: 75px;
  background-color: #f7e4e2;
}
@media (max-width: 768px) {
  .breadcrumb {
    padding: 0 16px;
  }
}
.breadcrumb .breadcrumb__wrapper {
  width: 1140px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.breadcrumb .breadcrumb__wrapper .breadcrumb__title {
  font-family: "lato";
  font-size: "24px";
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu-btn-body {
  width: 232px;
  height: 764px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 75px;
  display: none;
}
.menu-btn-body .display-block {
  display: block;
}
.menu-btn-body ul {
  padding: 0 0 0 33px;
}
.menu-btn-body .menu-btn-list-title {
  font-family: "lato";
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 37px 0 10px 0;
}
.menu-btn-body h3 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
  transition: all 500ms ease 0ms;
}
.menu-btn-body .menu-btn-list-item {
  font-family: "lato";
  font-size: 14px;
  font-weight: 400;
  color: #5D5D5D;
  margin: 0 0 11px 0;
  transition: all 500ms ease 0ms;
}

/*
.menu-btn-list-title {}

.menu-btn-list-subtitile {}

.menu-btn-list-item {}

.menu-btn-close {}*/
.brand {
  height: 764px;
  background-color: #f7e4e2;
  margin: 0 0 65px 0;
}
@media (max-width: 375px) {
  .brand {
    height: 363px;
    margin: 0 0 64px 0;
  }
}
@media (max-width: 768px) {
  .brand {
    height: 367px;
    margin: 0 0 20px 0;
  }
}
.brand .brand__width {
  width: 1600px;
  margin: 0 auto;
  height: 764px;
  display: flex;
}
@media (max-width: 375px) {
  .brand .brand__width {
    width: 100%;
    height: 363px;
  }
}
@media (max-width: 768px) {
  .brand .brand__width {
    height: 367px;
  }
}
.brand .brand__width .brand__image {
  display: block;
}
@media (max-width: 375px) {
  .brand .brand__width .brand__image {
    display: none;
  }
}
.brand .brand__width .brand__wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 0 63.5px;
  align-items: center;
}
@media (max-width: 768px) {
  .brand .brand__width .brand__wrapper {
    margin: 0 0 0 39px;
  }
}
.brand .brand__width .brand__wrapper .brand__banner {
  display: flex;
}
@media (max-width: 375px) {
  .brand .brand__width .brand__wrapper .brand__banner {
    align-items: center;
  }
}
.brand .brand__width .brand__wrapper .brand__banner .line {
  background: #F16D7F;
  width: 12px;
  height: 92px;
}
@media (max-width: 375px) {
  .brand .brand__width .brand__wrapper .brand__banner .line {
    height: 61px;
  }
}
.brand .brand__width .brand__wrapper .brand__banner .brand__txt {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 16px;
}
.brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__name {
  text-transform: uppercase;
  font-family: "lato";
  font-weight: 900;
  font-size: 48px;
}
@media (max-width: 375px) {
  .brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__name {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__name {
    font-size: 44px;
  }
}
.brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__subname {
  font-family: "lato";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__subname {
    font-family: "lato";
    font-size: "20px";
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .brand .brand__width .brand__wrapper .brand__banner .brand__txt .brand__subname {
    font-size: 24px;
  }
}

.offers {
  width: 1140px;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .offers {
    padding: 0 16px 0 16px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .offers {
    max-width: 96%;
    padding: 0 16px 0 16px;
  }
}
.offers .offer-cntr {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .offers .offer-cntr {
    flex-direction: column;
    max-width: 375px;
  }
}
@media (max-width: 768px) {
  .offers .offer-cntr {
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer__wrp {
    height: auto;
    max-width: 100%;
    margin: 0 0 32px 0;
  }
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer__wrp {
    max-width: 232px;
  }
}
.offers .offer-cntr .offer__wrp .offer-top {
  height: 260px;
  width: 360px;
  background-image: url(../img/offer_1.jpg);
  display: block;
  position: relative;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer__wrp .offer-top {
    height: 167px;
    width: 232px;
    background-size: contain;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer__wrp .offer-top {
    height: 247px;
    width: 343px;
    background-position: center;
    background-size: cover;
  }
}
.offers .offer-cntr .offer__wrp .offer-top1 {
  height: 260px;
  width: 360px;
  background-image: url(../img/offer_2.jpg);
  display: block;
  position: relative;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer__wrp .offer-top1 {
    height: 167px;
    width: 232px;
    background-size: contain;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer__wrp .offer-top1 {
    height: 247px;
    width: 343px;
    background-position: center;
    background-size: cover;
  }
}
.offers .offer-cntr .offer__wrp .offer-top2 {
  height: 260px;
  width: 360px;
  background-image: url(../img/offer_3.jpg);
  display: block;
  position: relative;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer__wrp .offer-top2 {
    height: 167px;
    width: 232px;
    background-size: contain;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer__wrp .offer-top2 {
    height: 247px;
    width: 343px;
    background-position: center;
    background-size: cover;
  }
}
.offers .offer-cntr .offer-top-overlay {
  width: 100%;
  height: 100%;
  background: rgba(35, 23, 23, 0.7);
}
.offers .offer-cntr .offer__dsc {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.offers .offer-cntr .offer__subdsc {
  font-family: "lato";
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
  text-transform: uppercase;
}
.offers .offer-cntr .offer__wrp {
  height: auto;
  max-width: 360px;
  position: relative;
}
.offers .offer-cntr .offer-txt-wrp {
  position: absolute;
  top: 40%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer-txt-wrp {
    top: 35%;
    left: 19%;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer-txt-wrp {
    top: 40%;
    left: 25%;
  }
}
.offers .offer-cntr .offer-txt-wrp1 {
  position: absolute;
  top: 40%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer-txt-wrp1 {
    top: 35%;
    left: 28%;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer-txt-wrp1 {
    top: 40%;
    left: 35%;
  }
}
.offers .offer-cntr .offer-txt-wrp2 {
  position: absolute;
  top: 40%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .offers .offer-cntr .offer-txt-wrp2 {
    top: 35%;
    left: 25%;
  }
}
@media (max-width: 375px) {
  .offers .offer-cntr .offer-txt-wrp2 {
    top: 40%;
    left: 33%;
  }
}
.offers .offer-bottom {
  height: 180px;
  width: 1140px;
  position: relative;
  margin: 30px 0 0 0;
}
@media (max-width: 768px) {
  .offers .offer-bottom {
    height: 100%;
    width: 100%;
    margin: 19px 0 0 0;
  }
}
@media (max-width: 375px) {
  .offers .offer-bottom {
    height: auto;
    max-width: 343px;
    margin: 0 0 0 0;
  }
}
.offers .offer-bottom .offer__wrpb .offer-b {
  height: 180px;
  width: 1140px;
  background-image: url(../img/offer_4.jpg);
  display: block;
  position: relative;
}
@media (max-width: 768px) {
  .offers .offer-bottom .offer__wrpb .offer-b {
    height: 116px;
    width: 100%;
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .offers .offer-bottom .offer__wrpb .offer-b {
    height: 111px;
    width: 100%;
  }
}
.offers .offer-bottom .offer__wrpb .offer-top-overlay {
  width: 100%;
  height: 100%;
  background: rgba(35, 23, 23, 0.7);
}
.offers .offer-bottom .offer__wrpb .offer-txt-wrpb {
  position: absolute;
  top: 40%;
  left: 41.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .offers .offer-bottom .offer__wrpb .offer-txt-wrpb {
    top: 30%;
    left: 39.5%;
  }
}
@media (max-width: 375px) {
  .offers .offer-bottom .offer__wrpb .offer-txt-wrpb {
    top: 33%;
    left: 28%;
  }
}
.offers .offer-bottom .offer__dsc {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.offers .offer-bottom .offer__subdsc {
  font-family: "lato";
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
  text-transform: uppercase;
}

.container__product {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container__product {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 375px) {
  .products {
    max-width: 100%;
  }
}
.products .products-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .products .products-title {
    margin: 64px 0 64px 0;
  }
}
.products .products-title-top {
  font-family: "lato";
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 375px) {
  .products .products-title-top {
    font-size: 30px;
  }
}
.products .products-title-bottom {
  font-family: "lato";
  font-size: 17px;
  font-weight: 400;
  color: #5D5D5D;
}
@media (max-width: 375px) {
  .products .products-title-bottom {
    font-size: 14px;
    font-weight: 300;
  }
}
.products .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .products .items {
    padding: 0 16px 0 16px;
  }
}
.products .items .card {
  display: block;
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  text-decoration: none;
  margin: 0 0 30px 0;
}
@media (max-width: 375px) {
  .products .items .card {
    width: 100%;
    height: auto;
    padding: 0 0 20px 0;
  }
}
.products .items .card__photo-overlay {
  position: relative;
}
.products .items .card:hover .card__photo-overlay::before {
  content: '';
  width: 360px;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}
.products .items .card .card-photo {
  border-style: none;
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}
.products .items .card .card__button-buy {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 13px 16px 13px 50px;
  font-size: 14px;
  font-family: "lato";
  cursor: pointer;
  outline: none;
}
.products .items .card .card__button-buy::before {
  content: '';
  width: 27px;
  height: 25px;
  background-image: url(../img/cart.svg);
  position: absolute;
  left: 13px;
  top: 9px;
}
.products .items .card .card__button-buy:active {
  border: 1px solid #F16D7F;
}
.products .items .card:hover .card__button-buy {
  display: block;
}
.products .items .card .card-title {
  font-family: "lato";
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin-left: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 18px;
}
.products .items .card .card-description {
  font-family: "lato";
  font-size: 14px;
  font-weight: 300;
  color: #5D5D5D;
  margin: 12.65px 0 0 16.46px;
  padding: 0 18px 0 18px;
  margin: 20px 0 12px 0;
}
.products .items .card .card-item-price {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  color: #F16D7F;
  padding: 0 0 0 18px;
}
@media (max-width: 375px) {
  .products .items .card .card-item-price {
    font-family: "lato";
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
  }
}
.products .btns {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 18.5px;
  margin-bottom: 95.5px;
}
@media (max-width: 375px) {
  .products .btns {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .products .btns {
    max-width: 100%;
    margin: 2px 0 65px 0;
  }
}
.products .btns .btn-brws {
  width: 211px;
  height: 47px;
  border: 1px solid #F16D7F;
  background-color: #fff;
  font-family: "lato";
  font-size: 16px;
  color: #F16D7F;
  transition: all 500ms ease;
}
.products .btns .btn-brws:hover {
  color: #fff;
  background-color: #F16D7F;
  cursor: pointer;
  border: 0px;
}

.feature {
  height: 341px;
  background: #000;
}
@media (max-width: 375px) {
  .feature {
    height: 610px;
  }
}
@media (max-width: 768px) {
  .feature {
    height: 610px;
  }
}
.feature .feature__wrp {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 103px;
}
@media (max-width: 375px) {
  .feature .feature__wrp {
    flex-direction: column;
    padding-top: 48px;
  }
}
@media (max-width: 768px) {
  .feature .feature__wrp {
    flex-direction: column;
    padding-top: 48px;
    width: 360px;
  }
}
.feature .feature__wrp .feature__item {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  text-align: center;
}
@media (max-width: 375px) {
  .feature .feature__wrp .feature__item {
    margin: 0 0 46px 0;
  }
}
@media (max-width: 768px) {
  .feature .feature__wrp .feature__item {
    margin: 0 0 46px 0;
  }
}
.feature .feature__wrp .feature__item .feature__delivery-pic {
  fill: #F16D7F;
  margin-bottom: 28.7px;
}
.feature .feature__wrp .feature__item .feature__sales-pic {
  fill: #F16D7F;
  margin-bottom: 19.7px;
}
.feature .feature__wrp .feature__item .feature__quality-pic {
  fill: #F16D7F;
  margin-bottom: 25.7px;
}
.feature .feature__wrp .feature__item .feature__item-title {
  font-family: "lato";
  font-size: 19.96px;
  font-weight: 400;
  color: #F8F8F8;
}
.feature .feature__wrp .feature__item .feature__item-description {
  font-family: "lato";
  font-size: 13.972px;
  font-weight: 300;
  color: #F8F8F8;
  margin-top: 16px;
}

.subscribe {
  background-image: url(../img/footer_bg.jpg);
  height: 448px;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .subscribe {
    height: 550px;
    background-size: cover;
    background-position-x: 28%;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .subscribe {
    height: 550px;
    background-size: cover;
    background-position-x: 28%;
    margin: 0 auto;
  }
}
.subscribe .subscribe__overlay {
  background: rgba(244, 244, 244, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}
.subscribe .subscribe__container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container {
    width: 100%;
    flex-direction: column;
  }
}
.subscribe .subscribe__container .subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0 0 0;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__info {
    margin: 64px 0 0 0;
  }
}
.subscribe .subscribe__container .subscribe__info .subscribe__avatar {
  background-image: url(../img/Intersect.png);
  width: 96px;
  height: 96px;
  margin: 0 0 19px 0;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__info .subscribe__avatar {
    margin: 0 0 30px 0;
  }
}
.subscribe .subscribe__container .subscribe__info .subscribe__info-txt {
  width: 360px;
  font-family: "lato";
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__info .subscribe__info-txt {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__info .subscribe__info-txt {
    font-size: 18px;
  }
}
.subscribe .subscribe__container .subscribe__form {
  display: grid;
  grid-template-rows: 30px 42px;
  width: 557px;
  margin: 150px 0 0 0;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form {
    width: 100%;
    margin: 59px 0 0 0;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form {
    width: 90%;
    margin: 59px 0 0 0;
    right: 4%;
    position: relative;
  }
}
.subscribe .subscribe__container .subscribe__form .subscribe__form-title {
  font-family: "lato";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-title {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-title {
    font-size: 24px;
  }
}
.subscribe .subscribe__container .subscribe__form .subscribe__form-subtitle {
  font-family: "lato";
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp {
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp {
    margin: 0 auto;
  }
}
.subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-email {
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
  border: 0px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  padding-left: 22px;
  outline: none;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-email {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-email {
    width: 50%;
  }
}
.subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-btm {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-left: -5px;
}
@media (max-width: 768px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-btm {
    max-width: 95px;
  }
}
@media (max-width: 375px) {
  .subscribe .subscribe__container .subscribe__form .subscribe__form-in .subscribe__form-wrp .subscribe__form-btm {
    max-width: 95px;
  }
}

.footer__bottom {
  height: 79px;
  background: #000;
}
@media (max-width: 375px) {
  .footer__bottom {
    height: 143px;
  }
}
.footer__bottom .footer__bottom-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 0 0;
}
@media (max-width: 375px) {
  .footer__bottom .footer__bottom-container {
    width: 100%;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .footer__bottom .footer__bottom-container {
    width: 90%;
  }
}
.footer__bottom .footer__bottom-container .footer__bottom-txt {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "lato";
  font-size: 16px;
  color: #F8F8F8;
}
@media (max-width: 375px) {
  .footer__bottom .footer__bottom-container .footer__bottom-txt {
    margin-top: 40px;
  }
}
.footer__bottom .footer__bottom-container .social_bottom .social {
  display: inline-block;
}
.footer__bottom .footer__bottom-container .social_bottom .social a {
  display: block;
  width: 31.45px;
  height: 32px;
  margin: 0 7.29px 0 0;
  text-align: center;
  color: #000;
  background: #fff;
  border: 0px;
}
.footer__bottom .footer__bottom-container .social_bottom .social a:hover {
  color: #fff;
}
.footer__bottom .footer__bottom-container .social_bottom .social svg {
  margin-top: 8px;
  width: 15px;
  height: 15px;
}
.footer__bottom .footer__bottom-container .social_bottom .facebook a:hover {
  background: #F16D7F;
}
.footer__bottom .footer__bottom-container .social_bottom .instagram a:hover {
  background: #F16D7F;
}
.footer__bottom .footer__bottom-container .social_bottom .pinterest a:hover {
  background: #F16D7F;
}
.footer__bottom .footer__bottom-container .social_bottom .twitter a:hover {
  background: #F16D7F;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding: 0 0 96px 0;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 96%;
    padding: 0 16px 96px 16px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 96px 0;
  }
}

.registration {
  width: 570px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
@media (max-width: 768px) {
  .registration {
    max-width: 360px;
  }
}

.regisration__form-title {
  font-family: "lato";
  font-size: 16px;
  font-weight: 300;
  color: #000;
  padding: 0 0 20.5px 0;
  margin: 0 0 20.5px 0;
}

.regisration__form-input {
  font-family: "lato";
  font-size: 13px;
  font-weight: 300;
  color: #5D5D5D;
  width: 330px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 16.5px;
  margin: 20px 0 0 0;
}

.regisration__form-radiobtnwrp {
  display: flex;
  margin: 31.5px 0 33px 0;
}

.regisration__form-radio {
  font-family: "lato";
  font-size: 11px;
  font-weight: 300;
  color: #A4A4A4;
  width: 71px;
  display: flex;
}

.regisration__form-radiobtn {
  margin: 0 10px 0 0;
}

.regisration__form-description {
  font-family: "lato";
  font-size: 13px;
  font-weight: 300;
  color: #A4A4A4;
  width: 360px;
  margin: 15.5px 0 39px 0;
}

.regisration__form-button {
  font-family: "lato";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border: 0px;
  text-transform: uppercase;
  transition: all 500ms ease;
}
.regisration__form-button:hover {
  color: #F16D7F;
  background-color: #fff;
  cursor: pointer;
}

.loyalty {
  width: 570px;
  padding: 50px 0 0 0;
}
@media (max-width: 768px) {
  .loyalty {
    max-width: 360px;
  }
}
.loyalty .loyalty__title {
  font-family: "lato";
  font-size: 24px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .loyalty .loyalty__title {
    font-family: "lato";
    font-size: 16px;
    font-weight: 300;
    color: #000;
  }
}
.loyalty .loyalty__txt {
  font-family: "lato";
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin: 22px 0 21px 0;
}
@media (max-width: 768px) {
  .loyalty .loyalty__txt {
    font-family: "lato";
    font-size: 16px;
    font-weight: 300;
    color: #000;
  }
}
.loyalty .loyalty__ul {
  font-family: "lato";
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin: 21px 0 0 0;
}
@media (max-width: 768px) {
  .loyalty .loyalty__ul {
    padding: 0 0 0 26px;
  }
}
.loyalty .loyalty__ul .loyalty__li {
  font-family: "lato";
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin: 0 0 16px;
  list-style-image: url(../img/v.png);
}
@media (max-width: 768px) {
  .loyalty .loyalty__ul .loyalty__li {
    font-family: "lato";
    font-size: 16px;
    font-weight: 300;
    color: #000;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 743px;
  }
}

.cart {
  margin: 96px 0 0 0;
  display: flex;
}
@media (max-width: 768px) {
  .cart {
    margin-top: 59px;
    flex-direction: column;
  }
}
.cart .item__wrapper {
  max-width: 652px;
}
@media (max-width: 768px) {
  .cart .item__wrapper {
    max-width: 743px;
  }
}
.cart .item__wrapper .item {
  max-width: 652px;
  height: 306px;
  background-color: #fff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  display: flex;
  margin: 0 0 40px 0;
}
@media (max-width: 768px) {
  .cart .item__wrapper .item {
    max-width: 743px;
  }
}
.cart .item__wrapper .item .item__description {
  width: 390px;
  height: 306px;
  padding: 22px 28px 62px 31px;
}
.cart .item__wrapper .item .item__description .item__description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.cart .item__wrapper .item .item__description .item__description-wrapper .item__description-titlewrp {
  display: flex;
  flex-direction: column;
}
.cart .item__wrapper .item .item__description .item__description-wrapper .item__description-titlewrp .item__description-toptitle {
  font-family: "lato";
  font-size: 24px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
.cart .item__wrapper .item .item__description .item__description-wrapper .item__description-titlewrp .item__description-subtitle {
  font-family: "lato";
  font-size: 24px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
.cart .item__wrapper .item .item__description .item__description-wrapper .item__description-closebtn {
  background-color: transparent;
  border: 0px;
  fill: #000;
  transition: all 500ms ease;
}
.cart .item__wrapper .item .item__description .item__description-wrapper .item__description-closebtn:hover {
  fill: #A4A4A4;
  cursor: pointer;
}
.cart .item__wrapper .item .item__description ul {
  padding: 0px;
}
.cart .item__wrapper .item .item__description .item__description-list {
  list-style-type: none;
  font-family: "lato";
  color: #000;
  font-size: 22px;
  font-weight: 300;
  display: flex;
}
.cart .item__wrapper .item .item__description .item__description-list .item__description-list-price {
  color: #F16D7F;
  margin: 0 0 0 5px;
}
.cart .item__wrapper .item .item__description .item__description-list .item__description-list-color {
  color: #5D5D5D;
  margin: 0 0 0 5px;
}
.cart .item__wrapper .item .item__description .item__description-list .item__description-list-size {
  color: #5D5D5D;
  text-transform: uppercase;
  margin: 0 0 0 5px;
}
.cart .item__wrapper .item .item__description .item__description-list .item__description-quantity {
  border: 1px solid #A4A4A4;
  width: 44px;
  margin: 0 0 0 5px;
  display: block;
  text-align: center;
}
.cart .item__wrapper .cart__button-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cart .item__wrapper .cart__button-wrapper {
    max-width: 508px;
    margin: 0 auto;
  }
}
.cart .item__wrapper .cart__button-wrapper .cart__button {
  font-family: "lato";
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #5D5D5D;
  background-color: #fff;
  width: 243px;
  height: 49px;
  padding: 0px;
  margin: 32.5px 0 128.5px 0;
  transition: all 500ms ease;
}
@media (max-width: 768px) {
  .cart .item__wrapper .cart__button-wrapper .cart__button {
    margin: 20px 0 34px 0;
    width: 234px;
  }
}
.cart .item__wrapper .cart__button-wrapper .cart__button:hover {
  color: #fff;
  background-color: #F16D7F;
  cursor: pointer;
  border: 0px;
}
.cart .shipping {
  margin: 0 0 0 128px;
}
@media (max-width: 768px) {
  .cart .shipping {
    display: flex;
    justify-content: space-between;
    margin-bottom: 147px;
    margin: 0 0 128px 0;
  }
}
.cart .shipping .shipping__form .shipping__form-title {
  font-family: "lato";
  color: #000;
  font-weight: 300;
  font-size: 16px;
}
.cart .shipping .shipping__form .shipping__form-input {
  width: 340px;
  height: 44px;
  border: 1px solid #A4A4A4;
  color: #5D5D5D;
  font-family: "lato";
  margin: 20px 0 0 0;
  font-size: 13px;
  font-weight: 300;
  padding: 0 0 0 17.5px;
}
.cart .shipping .shipping__form .shipping__form-input:hover {
  color: #A4A4A4;
}
.cart .shipping .shipping__form .shipping__form-inputquote {
  width: 100px;
  height: 34px;
  border: 1px solid #A4A4A4;
  color: #5D5D5D;
  font-family: "lato";
  margin: 20px 0 0 0;
  font-size: 11px;
  font-weight: 300;
  padding: 0 0 0 17.5px;
}
.cart .shipping .shipping__form .shipping__form-inputquote:hover {
  color: #A4A4A4;
}
.cart .shipping .total {
  width: 360px;
  height: 214px;
  background: #F8F8F8;
  margin: 57px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .cart .shipping .total {
    margin-top: 40px;
  }
}
.cart .shipping .total .subtotal__wrp {
  width: 118px;
  display: flex;
  justify-content: space-between;
  font-family: "lato";
  color: #5D5D5D;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  margin: 39px 44px 0 0;
}
.cart .shipping .total .subtotal__wrp .subtotal__prise {
  font-family: "lato";
  color: #5D5D5D;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}
.cart .shipping .total .grandtotal__wrp {
  width: 170px;
  display: flex;
  justify-content: space-between;
  font-family: "lato";
  color: #5D5D5D;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 12px 42px 0 0;
}
.cart .shipping .total .grandtotal__wrp .grandtotal__price {
  font-family: "lato";
  color: #F16D7F;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.cart .shipping .total .total__line {
  width: 276px;
  height: 1px;
  background: #A4A4A4;
  margin: 21px 42px 0 0;
}
.cart .shipping .total .total__button {
  font-family: "lato";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 42px 16px 42px;
  border: 0px;
  background-color: #F16D7F;
  color: #fff;
  margin: 17px 43px 42px 43px;
  transition: all 500ms ease;
}
.cart .shipping .total .total__button:hover {
  color: #F16D7F;
  background-color: #fff;
  cursor: pointer;
}

p {
  margin: 0;
}

li {
  list-style-image: none;
}

/*# sourceMappingURL=style.css.map */
