$font: "lato";
$f11: "11px";
$f12: "12px";
$f13: "13px";
$f14: "14px";
$f15: "15px";
$f16: "16px";
$f18: "18px";
$f20: "20px";
$f24: "24px";
$f28: "28px";
$f32: "32px";
$f48: "48px";

$desktop-w: 1600px;
$width-1024: 1024px;
$tablet-w: 768px;
$width-480: 480px;
$mobile-w: 375px

