.brand {
    height: 764px;
    background-color: $lightsalmon;

    .brand__width {
        width: 1600px;
        margin: 0 auto;
        height: 764px;
        display: flex;

        .brand__wrapper {
            display: flex;
            align-items: center;
            margin: 0 0 0 63.5px;

            .brand__banner {
                display: flex;

                .line {
                    background: $salmon;
                    width: 12px;
                    height: 92px;
                }

                .brand__txt {
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 16px;

                    .brand__name {
                        text-transform: uppercase;
                        font-family: $font;
                        font-weight: 900;
                        font-size: 48px;
                    }

                    .brand__subname {
                        font-family: $font;
                        font-size: 32px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                }
            }
        }
    }
}