* {
    outline: none;
}

.container {
    @include container;
}

header {
    background-color: #222222;
}

.nav {
    position: relative;
    @include navbar;

    @include mobile {
        grid-template-columns: 44px auto 32px;
        grid-column-gap: 41px;
    }



    .page-header-logo {
        @include svgbutton;
    }

    .search-btn {
        @include svgbutton;

        &:hover {
            fill: $salmon;
            cursor: pointer;
        }
    }

    .menu-btn {
        height: 100%;
        @include svgbutton;

        &:hover {
            fill: $salmon;
            cursor: pointer;
        }
    }

    .account-btn {
        @include svgbutton;

        &:hover {
            fill: $salmon;
            cursor: pointer;
        }

        @include mobile {
            display: none
        }
    }

    .cart-btn {
        @include svgbutton;

        &:hover {
            fill: $salmon;
            cursor: pointer;
        }

        @include mobile {
            display: none;
        }
    }
}



.breadcrumb {
    height: 75px;
    background-color: $lightsalmon;

    @include tablet {
        padding: 0 16px;
    }

    @include mobile {
        height: 148px;
    }

    .breadcrumb__wrapper {
        width: 1140px;
        height: 75px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include mobile {
            height: 148px
        }

        .breadcrumb__title {
            @include text ($font, $f24, 400, $salmon);
            text-transform: uppercase;
        }
    }
}

.menu-btn-body {
    width: 232px;
    height: 764px;
    background-color: #fff;
    position: absolute;
    right: -200px;
    top: 75px;
    display: none;
    transition: all 500ms ease 0ms;

    .menu-btn-closebtn {
        background-color: transparent;
        border: 0px;
        right: 0px;
        position: absolute;
        padding: 16px;
        transition: all 500ms ease 0ms;

        &:hover {
            fill: $midgray;
            cursor: pointer;
        }
    }

    ul {
        padding: 0 0 0 33px;
    }

    .menu-btn-list-title {
        @include text ($font, 14px, 700, $black);
        text-transform: uppercase;
        margin: 37px 0 10px 0;
        transition: all 500ms ease 0ms;

        &:hover {
            color: $salmon;
            cursor: pointer;
        }
    }

    h3 {
        @include text ($font, 14px, 400, $salmon);
        text-transform: uppercase;
        transition: all 500ms ease 0ms;

        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    .menu-btn-list-item {
        @include text ($font, 14px, 400, $darkgray);
        margin: 0 0 11px 0;
        transition: all 500ms ease 0ms;

        &:hover {
            color: $salmon;
            cursor: pointer;
        }
    }
}

.display-block {
    display: block !important;
}






/*
.menu-btn-list-title {}

.menu-btn-list-subtitile {}

.menu-btn-list-item {}

.menu-btn-close {}*/