.container {
    @include container;
}

header {
    background-color: #222222;
}

.nav {
    @include navbar;

    @include mobile {
        grid-template-columns: 44px auto 32px;
        grid-column-gap: 41px;
    }

    .page-header-logo {
        @include svgbutton;
    }

    .menu-btn {
        @include svgbutton;

    }

    .account-btn {
        @include svgbutton;

        @include mobile {
            display: none
        }
    }

    .cart-btn {
        @include svgbutton;

        @include mobile {
            display: none;
        }

    }
}



.breadcrumb {
    height: 75px;
    background-color: $lightsalmon;

    @include tablet {
        padding: 0 16px;
    }

    .breadcrumb__wrapper {
        width: 1140px;
        height: 75px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .breadcrumb__title {
            @include text ($font, $f24, 400, $salmon);
            text-transform: uppercase;
        }
    }
}