.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding: 0 0 96px 0;

    @include tablet {
        max-width: 96%;
        padding: 0 16px 96px 16px;
        display: flex;
        justify-content: space-between;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        padding: 40px 0 96px 0;
    }
}

.registration {
    width: 570px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;

    @include tablet {
        max-width: 360px;
    }
}

.regisration__form-title {
    @include text ($font, 16px, 300, $black);
    padding: 0 0 20.5px 0;
    margin: 0 0 20.5px 0;
}

.regisration__form-input {
    @include text ($font, 13px, 300, $darkgray);
    width: 330px;
    height: 45px;
    background-color: $white;
    border: 1px solid $midgray;
    padding: 0 0 0 16.5px;
    margin: 20px 0 0 0;

}

.regisration__form-radiobtnwrp {
    display: flex;
    margin: 31.5px 0 33px 0;
}

.regisration__form-radio {
    @include text ($font, 11px, 300, $midgray);
    width: 71px;
    display: flex;

}

.regisration__form-radiobtn {
    margin: 0 10px 0 0;
}

.regisration__form-description {
    @include text ($font, 13px, 300, $midgray);
    width: 360px;
    margin: 15.5px 0 39px 0;

}

.regisration__form-button {
    @include text ($font, 14px, 400, $white);
    width: 167px;
    height: 50px;
    background-color: $salmon;
    border: 0px;
    text-transform: uppercase;
    transition: all 500ms ease;
    @include towhite;
}

.loyalty {
    width: 570px;
    padding: 50px 0 0 0;

    @include tablet {
        max-width: 360px;
    }

    .loyalty__title {
        @include text ($font, 24px, 300, $black);
        text-transform: uppercase;

        @include tablet {
            @include text ($font, 16px, 300, $black);
        }
    }

    .loyalty__txt {
        @include text ($font, 24px, 300, $black);
        margin: 22px 0 21px 0;

        @include tablet {
            @include text ($font, 16px, 300, $black);
        }
    }

    .loyalty__ul {
        @include text ($font, 24px, 300, $black);
        margin: 21px 0 0 0;

        @include tablet {
            padding: 0 0 0 26px;
        }

        .loyalty__li {
            @include text ($font, 24px, 300, $black);
            margin: 0 0 16px;
            list-style-image: url(../img/v.png);

            @include tablet {
                @include text ($font, 16px, 300, $black);
            }
        }
    }



}