.subscribe {
    background-image: url(../img/footer_bg.jpg);
    height: 448px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;


    @include tablet {
        height: 550px;
        background-size: cover;
        background-position-x: 28%;
        margin: 0 auto;
    }

    @include mobile {
        height: 550px;
        background-size: cover;
        background-position-x: 28%;
        margin: 0 auto;
    }

    .subscribe__overlay {
        background: rgba(244, 244, 244, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .subscribe__container {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: absolute;


        @include tablet {
            width: 100%;
            flex-direction: column;
        }

        @include mobile {
            width: 100%;
            flex-direction: column;
        }

        .subscribe__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 90px 0 0 0;

            @include tablet {
                margin: 64px 0 0 0;
            }

            .subscribe__avatar {
                background-image: url(../img/Intersect.png);
                width: 96px;
                height: 96px;
                margin: 0 0 19px 0;

                @include tablet {
                    margin: 0 0 30px 0;
                }
            }

            .subscribe__info-txt {
                width: 360px;
                font-family: $font;
                font-size: 20px;
                font-weight: 400;
                color: $black;


                @include tablet {
                    font-size: 24px;
                }

                @include mobile {
                    font-size: 18px;
                }
            }
        }

        .subscribe__form {
            display: grid;
            grid-template-rows: 30px 42px;
            width: 557px;
            margin: 150px 0 0 0;


            @include tablet {
                width: 100%;
                margin: 59px 0 0 0;
            }

            @include mobile {
                width: 90%;
                margin: 59px 0 0 0;
                right: 4%;
                position: relative;
            }

            .subscribe__form-title {
                font-family: $font;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;


                @include tablet {
                    font-size: 24px;
                }

                @include mobile {
                    font-size: 24px;
                }
            }

            .subscribe__form-subtitle {
                font-family: $font;
                font-size: 18px;
                font-weight: 400;
                color: $black;
                text-transform: uppercase;


                @include tablet {
                    font-size: 18px;
                }

                @include mobile {
                    font-size: 14px;
                }
            }

            .subscribe__form-in {
                .subscribe__form-wrp {
                    @include tablet {
                        width: 400px;
                        margin: 0 auto;
                    }

                    @include mobile {
                        margin: 0 auto;
                    }

                    .subscribe__form-email {
                        width: 256px;
                        height: 49px;
                        background-color: #e1e1e1;
                        border: 0px;
                        border-bottom-left-radius: 25px;
                        border-top-left-radius: 25px;
                        font-family: Lato;
                        font-weight: 400;
                        font-size: 14px;
                        color: #222224;
                        padding-left: 22px;
                        outline: none;

                        @include tablet {
                            width: 60%;
                            margin: 0 auto;
                        }

                        @include mobile {
                            width: 50%;
                        }
                    }

                    .subscribe__form-btm {
                        width: 100px;
                        height: 49px;
                        background: #F16D7F;
                        border: 0px;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                        font-family: Lato;
                        font-size: 14px;
                        font-weight: 400;
                        color: #fff;
                        margin-left: -5px;

                        @include tablet {
                            max-width: 95px;
                        }

                        @include mobile {
                            max-width: 95px;
                        }
                    }
                }
            }
        }
    }
}